<app-layout>
  <span>Hello Layout</span>
  <!--
  <bc-sidenav [open]="showSidenav$ | async">
    <bc-nav-item (activate)="closeSidenav()" routerLink="/" icon="book" hint="View your book collection">
      My Collection
    </bc-nav-item>
    <bc-nav-item (activate)="closeSidenav()" routerLink="/book/find" icon="search" hint="Find your next book!">
      Browse Books
    </bc-nav-item>
  </bc-sidenav>
  <bc-toolbar (openMenu)="openSidenav()">
    Book Collection
  </bc-toolbar>
  -->
  <router-outlet></router-outlet>
</app-layout>